app/code/community
app/code/core
app/design/adminhtml
app/design/frontend/base/default/etc
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/mdg_giftregistry.xml
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/mdg
app/design/frontend/enterprise
app/etc/modules/*
!app/etc/modules/Mdg_Giftregistry.xml
downloader
errors
js
lib
media
pkginfo
shell
skin
var
.htaccess*
api.php
cron.php
cron.sh
demo.php
favicon.ico
get.php
index.php*
install.php
LICENSE*
mage
php.ini*
RELEASE*
!.gitignore
!imc.php
!test.php
!demo.php
